/* quest-scene.less */
#quest-scene-page{
	.screen{
		position:relative;
		width:320px;
		height:300px;
		overflow:hidden;
	}
	.field{
		background-position:left center;
		background-size:contain;
		background-repeat:repeat-x;
		&.action{
			-webkit-animation-name:kf-bg-move;
			-webkit-animation-duration:24*@frame;
			-webkit-animation-timing-function:linear;
			-webkit-animation-iteration-count:infinite;
		}
	}
	.layer{
		clip:rect(0,320px,300px,0);
	}
	// 個別設定
	&[data-region="1"]{
		.screen{
			.field{
				background-image:url("../img/bg/pipo-battlebg001.jpg");
			}
		}
	}
	&[data-region="2"]{
		.screen{
			.field{
				background-image:url("../img/bg/pipo-battlebg002.jpg");
			}
		}
	}
	&[data-region="3"]{
		.screen{
			.field{
				background-image:url("../img/bg/pipo-battlebg003.jpg");
			}
		}
	}
	&[data-region="4"]{
		.screen{
			.field{
				background-image:url("../img/bg/pipo-battlebg004.jpg");
			}
		}
	}
	&[data-region="5"]{
		.screen{
			.field{
				background-image:url("../img/bg/pipo-battlebg005.jpg");
			}
		}
	}
	&[data-region="6"]{
		.screen{
			.field{
				background-image:url("../img/bg/pipo-battlebg006.jpg");
			}
		}
	}
	&[data-region="7"]{
		.screen{
			.field{
				background-image:url("../img/bg/pipo-battlebg007.jpg");
			}
		}
	}
	.button-holder{
		text-align:center;
		padding:@half-margin;
	}
}
@-webkit-keyframes kf-bg-move{
	from{
		left:0
	}
	to{
		left:-400px;
	}
}
.normal-effect[data-name="treasure-box"]{
	width:32px;
	height:32px;
	background-image:url("../img/items/pipo-etcchara001c.png");
	background-position:-64px 0;
	&.invoke{
		background-position:-64px -64px;
		-webkit-animation-name:kf-treasure-box;
		-webkit-animation-timing-function:linear;
		-webkit-animation-duration:12*@frame;
	}
}
@-webkit-keyframes kf-treasure-box{
	from,33%{
		background-position:-64px 0px;
	}
	33.0001%,66%{
		background-position:-64px -32px;
	}
	66.0001%,to{
		background-position:-64px -64px;
	}
}
#quest-treasure-popup{
	.treasure-content{
		width:300px;
		position:relative;
	}
	.monster-status{
		background-color:#FFE9DD;
		width:280px;
		min-height:40px;
		margin: 0 auto;
		padding:@half-margin;
		color:#000000;
		text-align:center;
		-webkit-transform:rotate(-2deg);
		border:2px solid #654B38;
		.monster-name{
			.fontSize(16);
			font-weight:bold;
			border-bottom:2px solid #D2B6A8;
			padding:@half-margin;
		}
		.monster-rarity{
			.fontSize(16);
			color:#F5B857;
			.textOutline(1px,#221009);
			font-weight:bold;
			border-bottom:2px solid #D2B6A8;
			padding:@half-margin;
		}
	}
	.monster-image{
		width:240px;
		height:240px;
		margin: 0 auto;
		background-image:-webkit-gradient(radial, center center, 0, center center, 115, from(white), color-stop(70%,white),color-stop(70%, rgba(255, 255, 160, 1)), color-stop(90%, rgba(255, 255, 160, 1)), to(rgba(255, 255, 160, 0)));
		background-position:center center;
		position:relative;
		>img{
			position:absolute;
			left:50%;
			top:50%;
			margin-left:-60px;
			margin-top:-60px;
		}
	}
}